# названия устройства
esphome:
  name: esp03
  friendly_name: esp03
#названия платформы 
esp8266:
  board: nodemcuv2

# ////////////////////////////////////////
# ///// начало не изменяемая часть ///////
# ////////////////////////////////////////
# Включить ведение журнала
logger:
# Включить API Home Assistant (нужно для подтверждения подключения)
api:
  encryption:
    key: !secret API #
#пароль для обновления по воздуху
ota:
  - platform: esphome
    password: !secret OTA #
# подключения к домашней wifi сети
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Включить резервную точку доступа (портал авторизации) на случай сбоя подключения к Wi-Fi.
  ap:
    ssid: ${name}
    password: !secret AP
#
captive_portal:
# веб морда
web_server:

button:
  - platform: restart # перезагрузка узла
    name: "Перезагрузка"
    entity_category: config  
# //////////////////////////
# конец не изменяемой части
# //////////////////////////
# начало изменяемой части
# //////////////////////////

# переменные 
#substitutions: # спользования $devicename или ${devicename}
#  name: esp32-01-kuxn
#  friendly_name: esp32-01-kuxn

# включения I2C Шины 
#i2c:
#  sda: GPIO4 # esp8266 (sda GPIO012 - D6) esp32 (sda GPIO23/21/33/27 - D23) wemos (sda GPIO05 - D1 )
#  scl: GPIO5 # esp8266 (scl GPIO14 - D5) esp32 (scl GPIO22/32/26 - D22) wemos (scl GPIO04 - D2 )
#  scan: true # при запуске будет сканировать I2C шину если да то true
#  id: bus_a # указываем назный индификатор если I2C нестокол

## включения UART Шины пины esp82 (TX GPIO? ?) (RX GPIO? ?)  esp32: (TX GPIO16 17) (RX GPIO17 16)
#uart:
#  tx_pin: 17
#  rx_pin: 16
#  baud_rate: 256000
#  parity: NONE
#  stop_bits: 1

# включения bluetooth_proxy
bluetooth_proxy:


# //////////////////////////
# конец изменяемой части
# //////////////////////////


# Пример записи конфигурации
output:
  - platform: esp8266_pwm
    pin: D1
#    frequency: 1000 Hz
    id: pwm_output

# Пример использования в свете
light:
  - platform: monochromatic
    output: pwm_output
    name: "неон"

